
<h3 class="Menu-heading">
     Make a new menu or a add a item to a menu
</h3>

<%= render partial: "add_menu", locals:{
         section_title_1: "Add Menu items",
         menu: Menu.all,
         section_title_2: "Add Menu",
         section_title_3: "Available Menus"
            } %>
