<div class="below1">
     <div class="below1-right"></div>
</div>

<h3 class="Menu-heading">
     Make a new menu or a add a item to a menu
</h3>

<%= render partial: "add_menu", locals:{
         section_title_1: "Add menu_item",
         menu: Menu.all,
         section_title_2: "Add menu",
         section_title_3: "available menus"
            } %>
