

<div class="slider-container">
 
  <div class="image-container">
     <span id="slider-image-1"></span>
     <span id="slider-image-2"></span>
     <span id="slider-image-3"></span>
     <span id="slider-image-4"></span>
     <span id="slider-image-5"></span>
     <img src="https://images.pexels.com/photos/744780/pexels-photo-744780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider-image">


     
     <img src="https://images.pexels.com/photos/995743/pexels-photo-995743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="slider-image">
    
    
     
     <img src="https://images.pexels.com/photos/744780/pexels-photo-744780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider-image">
    
    
     
     <img src="https://images.pexels.com/photos/995743/pexels-photo-995743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider-image">
    

     <img src="https://images.pexels.com/photos/744780/pexels-photo-744780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider-image">
   
    
  </div>

  <div class="button-container">
   
   <a href="#slider-image-1" class="slider-button"></a>
   <a href="#slider-image-2" class="slider-button"></a>
   <a href="#slider-image-3" class="slider-button"></a>
   <a href="#slider-image-4" class="slider-button"></a>
   <a href="#slider-image-5" class="slider-button"></a>


  </div>
  

</div>
