

<body id="Main-body">
    <div class="container-below">
        <li class="below-text">
            <a>EAT </a>
            <img src= <%= asset_path"eatpic.jpg" %> >
        </li>

        <li class="below-text">
            <a>DRINK </a>
            <img src= <%= asset_path"drinkpic.jpg" %> >
        </li>

        <li class="below-text">
            <a>VISIT </a>
            <img src= <%= asset_path"visitpic.jpg" %> >
        </li>
    </div>
</body>
