<h3 style="text-align: center"> The registered users and the cashier details </h3>

<%= render partial: "users",locals:{
    users: @customers,
    section_title: "Customers"
}%>

<%= render partial: "users",locals:{
    users: @clerk,
    section_title: "Billing clerk"
}%>
