<h2 style="text-align: center;
   margin-top: 5%;
   margin-bottom: 3%;margin-left:5%;"> The Registered Users And The Clerks Details </h2>

<%= render partial: "users",locals:{
    users: @customers,
    section_title: "Customers"
} %>

<%= render partial: "users",locals:{
    users: @clerk,
    section_title: "Billing clerk"
} %>

<p class="Report-remark">(*click on the name to view the delivered orders of that customer. orders of walk-in customers are in clerk's)</p>
