
<h2> Get customized report </h2>


<h3> enter the dates </h3>
           
             <%= form_with(url: show_report_path, method: :post) do%>
            <p>
                From:   <%=date_field_tag(name='from_date',value=nil, :required => true)  %> 
                To  :   <%=date_field_tag(name='to_date',value=nil, :required => true)  %> 
                <%=button_tag(value='Go')  %>
            </p>
             <%end%>

             <%if @orders%>
             <%there are orders%>
             <%end%>
