

  <main id="about">

    <div class="slidershow middle">

      <div class="slides">

        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <input type="radio" name="r" id="r5">

        <div class="slide s1">

          <img src="https://images.unsplash.com/photo-1544148103-0773bf10d330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""class="slider-image">
          <div class="text-block">
            <h5>we started on</h5>
            <p>The dream of serving people with tasty food came to life on 2015 and since then we're people's favouirte. We've got over 250 customers pouring in their orders everyday. </p>
          </div>

        </div>

        <div class="slide">

          <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider-image">
          <div class="text-block">
            <h5>Our Cuisine</h5>
            <p>We have got everything for your cravings, from juicy starters to spicy briyani and delightful desserts. We got you covered.</p>
          </div>

        </div>

        <div class="slide">

          <img src="https://images.pexels.com/photos/3201922/pexels-photo-3201922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider-image">
          <div class="text-block">
            <h5>Enjoy the meal and the view</h5>
            <p>With the cool sea breeze sliding in, this place has got an aesthetics of its own. </p>
          </div>
        </div>

        <div class="slide">

          <img src="https://www.delhifoodbanking.org/wp-content/uploads/2019/05/Every-single-state-in-India-is-home-to-people-who-face-hunger-every-day.-.jpg" alt="" class="slider-image">
          <div class="text-block">
            <h5>Join hands to make a better world</h5>
            <p>We make donations and funding to organisations such as Rise Against Hunger and Give India, Pan India. We contribute Rs.5 from each orders you make everyday to serve the poor.</p>
          </div>

        </div>

        <div class="slide">

          <img src="https://images.pexels.com/photos/1267697/pexels-photo-1267697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="slider-image">
          <div class="text-block">
            <h5>Sign up soon for exciting offers</h5>
            <p>We're giving away the special customership for free as a limited time offer. Sign up now to get upto 40% off for all your orders.</p>
          </div>

         </div>

      </div>

      <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>
      </div>

    </div>

  </main>

</html>
