.Menu-heading {
  color: red;
  padding-left: 35%;
  margin-top: 50px;
}

.MenuItem-title {
  padding-left: 40%;
}

.add-item {
  padding-left: 38%;
  display: flex;
  align-items: center;
}

.item-label {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.904);
}

.add-section {
  padding-left: 38%;
  display: flex;
  align-items: center;
}

.add-section {
  color: rgb(255, 141, 1);
}

.CurrentMenu{
margin-left: 600px;
margin-top: 50px;
margin-bottom: 50px;
}
.item-submit {
  width: 100px;
  height: 30px;
  color: aquamarine;
  background-color: blueviolet;
  border-radius: 10px;
}

.add-MenuItemHeader {
  margin-top: 50px;
  padding-left: 40%;
  padding-top: 2%;
}

.Menu-container {
margin-top: 50px;
}
.MenuItem-conatiner{
  margin-top: 50px;
}
.Menu-list {
  padding-left: 38%;
  display: flex;
  align-items: center;
  margin: 50px;
}
.form-submit {
  margin-left: 30px;
  background-color: lightgreen;
  width: 80px;
  height: 25px;
  border-radius: 10px;
}

.MenuEdit-title {
  text-align: center;
}

.MenuEdit-ListHeading {
  margin-left: 46%;
}

.MenuEdit-ListTitle {
  display: flex;
  margin-left: 40%;
}
.MenuEdit-List {
  display: flex;
}

.MenuEdit-ListItem {
  padding-right: 20%;
}

.MenuEdit-ListElements {
  padding-left: 35%;
}

.MenuEdit-delete {
  display: flex;
  width: 11.5%;
  margin-left: 30%;
  margin-top: 4px;
  margin-bottom: 10px;
  justify-content: space-between;
}
