.Order-extra {
  background-color: rgba(0, 0, 255, 0.459);
  width: 160px;
  height: 40px;
  border-radius: 10px;
  color: black;
  margin-left: 45%;
  margin-top: 10px;
}

.OrderItem-return {
  background-color: rgb(51, 255, 0);
  border-radius: 14px;
  padding: 5px;
  margin-left: 36%;
}

.OrderItem-repeat {
  background-color: rgb(14, 243, 14);
  width: 150px;
  height: 30px;
  border-radius: 14px;
  color: black;
  margin-left: 54%;
}

.Order-extra:hover {
  background-color: rgb(45, 209, 45);
}

.OrderStatus-received {
  color: red;
  cursor: pointer;
}

.OrderStatus-delivered {
  color: green;
}

.Order-title {
  text-align: center;
  margin-top: 50px;
}

.Order-contentList {
  display: flex;
  list-style-type: none;
  margin-left: 13%;
}

.Order-contentList li {
  margin: 0px 2.5px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: max-content;
}

.Order-contentId {
  width: 120px;
  font-size: 20px;
}

.Order-link {
  background-color: rgb(51, 255, 0);
  border-radius: 14px;
  padding: 10px;
  margin-left: 41%;
  margin-top: 100px;
}

.EmptyOrder {
  margin-left: 35%;
  width: 700px;
  margin-top: -1%;
  margin-bottom: 50px;
  border-radius: 15px;
}

.Delivery_button {
  background-color: rgb(32, 212, 32);
  padding: 5px;
  border-radius: 13px;
  font-size: 20px;
  margin-top: -10px;
}

.Cancel_button {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 13px;
  font-size: 20px;
  margin-left: -5%;
  margin-top: -10%;
  cursor: pointer;
}

.Cancel_button:hover {
  background-color: rgb(199, 66, 66);
  color: black;
}

.Orderid-wrapper {
  margin-top: 5%;
  margin-left: 35%;
  padding: 10px 10px 20px 20px;
  width: 30%;
  height: 90%;
  border-radius: 13px;
  -webkit-box-shadow: 2px 29px 210px 66px rgba(212, 177, 74, 1);
  -moz-box-shadow: 2px 29px 210px 66px rgba(212, 177, 74, 1);
  box-shadow: 2px 2px 20px 6px rgba(3, 3, 3, 0.671);
}

.Repeat-Order {
  display: flex;
}

.RepeatOrder-button {
  background-color: rgb(32, 212, 32);
  padding: 1px;
  border-radius: 13px;
  font-size: 20px;
  width: 200px;
  height: 35px;
  margin-top: -2px;
  margin-left: 55%;
  cursor: pointer;
}

.RepeatOrder-button:hover {
  background-color: rgb(50, 201, 50);
  color: white;
}

.Order-Empty {
  margin-top: 70px;
  margin-bottom: 30px;
}

.remark {
  margin-left: 30%;
}

.SectionHeading {
  margin-left: 45%;
}
