body {
  margin: 0px;
}

.cart-wrapper {
  margin-top: 10%;
  margin-left: 30%;
  padding: 10px 10px 20px 20px;
  width: 35%;
  border-radius: 13px;
  -webkit-box-shadow: 2px 29px 210px 66px rgba(212, 177, 74, 1);
  -moz-box-shadow: 2px 29px 210px 66px rgba(212, 177, 74, 1);
  box-shadow: 2px 2px 20px 6px rgba(3, 3, 3, 0.671);
}

.OrderItem-element {
  width: 126px;
  text-align: center;
}

.Order-table {
  margin-top: 5%;
}

.OrderItem-heading {
  margin-left: 44%;
}

.OrderItem-remove {
  background-color: rgba(255, 47, 47, 0.808);
  width: 80px;
  height: 30px;
  border-radius: 10px;
  color: black;
}

.OrderItem-remove:hover {
  background-color: rgb(255, 0, 0);
}

.OrderItem-cost {
  height: 5px;
  margin-bottom: 5%;
  margin-left: 54%;
}

.OrderItem-submit {
  background-color: rgb(14, 243, 14);
  width: 100px;
  height: 30px;
  border-radius: 14px;
  color: black;
  margin-left: 345%;
}

.OrderItem-submit:hover {
  background-color: rgb(6, 255, 6);
}

.OrderItem-extra {
  background-color: rgb(51, 255, 0);
  border-radius: 14px;
  padding: 5px;
  margin-left: 6%;
}

.OrderItem-extra:hover {
  background-color: lawngreen;
}

.Order-finalize {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Order-empty {
  text-align: center;
  margin-top: 0px;
}

.EmptyCart {
  margin-left: 0px;
  width: 100%;
  margin-top: 40px;
}

.Cart-link {
  background-color: rgb(51, 255, 0);
  border-radius: 14px;
  padding: 5px;
  margin-left: 41%;
}

.Cart-link :hover {
  background-color: lawngreen;
}
