.Form-container {
  background: url(https://images.pexels.com/photos/995743/pexels-photo-995743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  
  height: 100vh;
  margin: 0px;
  background-size: cover;
}
.Form-Section {
  margin-bottom: 30px;
}
.login-title {
  padding-left: 840px;
  margin-top: 0px;
  padding-top: 100px;
  font-size: 1.5em;
  color: blue;
}

.login-Section {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  margin-left: 600px;
  padding-top: 30px;
  padding-left: 100px;
  border: 5px solid black;
  border-radius: 25px;
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  width: 30%;
  padding: 20px;
  text-align: center;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.no-outline:focus {
  outline: none;
}

.title-role {
  margin: 0;
  padding: 0;
  line-height: 30px;
  height: 25px;
}
